.card-container {
    display:flex;
    flex-direction : column;
    gap: 12px;
    max-width: 600px;
}

.card {
    border: 1px solid #966464;
    padding:16px;
    border-radius: 6px;
    background-color: #f1ebeb;
    box-shadow: 1px 1P 5px rgba(0,0,0,0.05);
}

.card .title {
    font-weight: bold;
    font-size: 18px;
}

.card .meta {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.card .contents {
    margin-top:8px;
}