
        body{       
            color: #665544;
            background: white url(../image/tulip.gif) no-repeat fixed center right;
            font-size: 14px;
            padding: 25px;
        }

        em{
            font-weight: bold;
        }
